@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.radiobtn {
  margin-top: 20px;
  text-align: center;
}

.radiobtn input {
    margin: 0 20px;
    font-size: 15px;
    text-decoration: none;
}

.int-area {
  width: 400px;
  position: relative;
  margin-top: 20px;
}

.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  outline: none;
}

.int-area label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  transition: top 0.5s;
}

.int-area input:focus + label,
.int-area input:valid + label {
  top: -2px;
  font-size: 13px;
  color: #16aa25;
}

.btn-area {
  margin-top: 30px;
}

.btn-area button {
  width: 100%;
  height: 50px;
  margin: 0px 10px;
  color: #fff;
  background: #16aa25;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

#logo {
    width: 130px;
    height: 50px;
    text-align: center;
}
